[Unit]
Description=MySQL Health Check Service
After=mysql.service
Requires=mysqlchk.socket

[Service]
Type=simple
User=prometheus
ExecStart=/opt/mysqlchk.sh
StandardInput=socket

[Install]
WantedBy=multi-user.target
